html {
    height: 100%;
    min-height: 100%;
    font-family: arial,sans-serif;
    font-size: 13px;
}

body{
    min-height: 80%;
}

#navbar{
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 
    ;
    grid-template-rows: 50px;
    grid-template-areas:
    "about store . gmail images menu sign-in";
    
}

a{
    text-decoration: none;
    color:#222;
    font-size: 13px;
}

#about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}

#store{
    grid-area: store;
    justify-self: center;
    align-self: center; 
}

#gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;

  
}

#images{
    grid-area: images;
    justify-self: center;
    align-self: center;
}   

#menu{
    grid-area: menu;
    justify-self: center;
    align-self: center;
}

#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: #4683ea;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;

}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px 169px;
    grid-template-areas:". logo ." ". search ." ". flexbox ." ". google-text ." ;
}

#logo{
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search{
    grid-area: search;
    height: 40px;
    width: 120%;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    outline: none;
}
#search:focus{
    box-shadow: 1px 1px 5px grey;
}
#search:hover{
    box-shadow: 1px 1px 5px grey;

}
#flexbox{
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#google-search-btn{
    grid-area: google-search-btn;
    border: none;
    font-size: 15px;
    color:#5F6367;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
}
#google-search-btn:hover{
    border: 1px solid rgba(0, 0, 0, 0.226);
    color: black;
}

#random-search-btn{
    grid-area: random-search-btn;
    font-size: 15px;
    border: none;
    padding: 7px 15px 7px 15px;
    color:#5F6367;
    border-radius: 5px;
}
#random-search-btn:hover{
    border: 1px solid rgba(0, 0, 0, 0.226);
    color: black;
}
#google-text{
    grid-area: google-text;
    justify-self: center;
    
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 150px 1fr 70px 70px 70px;
    grid-template-rows: 40px;
    grid-template-areas: "advertising business about hsw . privacy terms settings";
    background: #f2f2f2;
}
#advertising{
    grid-area: advertising;
    justify-self: center;
    align-self: center;
    color: #5f6368;
    
  }
#business{
    grid-area: business;
    justify-self: center;
    align-self: center;
    color: #5f6368;
    
}
#about{
grid-area: about;
justify-self: center;
align-self: center;
color: #5f6368;

}
#hsw{
grid-area: hsw;
justify-self: center;
align-self: center;
color: #5f6368;

}
#privacy{
grid-area: privacy;
justify-self: center;
align-self: center;
color: #5f6368;

}
#terms{
grid-area: terms;
justify-self: center;
align-self: center;
color: #5f6368;

}
#settings{
grid-area: settings;
justify-self: center;
align-self: center;
color: #5f6368;

}